# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
env/
.venv/

# Django
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar
docker-compose.override.yml

# Kubernetes secrets
kubeconfig
*.kubeconfig

# Node (if frontend added later)
node_modules/

# Coverage reports
htmlcov/
.coverage

# Git
.git/
